<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Jenkins App</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<h1>Contato</h1>
<p id="message" th:text="${mensagem}"></p>
<p>Último contato cadastrado</p>

<h3 id="nome" th:text="${contato.nome}"></h3><br/>
<h3 id="email" th:text="${contato.email}"></h3><br/>

<form th:action="@{/estabelecimento/cadastrar}" action="#" method="GET">

	<label>Nome: </label>
	<input type="text" name="nome" /><br/>
	<label>Email: </label>
	<input type="text" name="email" /><br/>
	
	<input id="btnSubmit" type="submit" value="Cadastrar"/>
	
	
</form>
 
</body>
</html>